body {
  font-family: "Linux Biolinum", sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2px;
}

tr:nth-child(even) {
  background-color: #EEEEEE;
}

th {
  border: 1px solid grey;
}
td {
  padding: 4px;
  text-align: center;
}
td.expand {
  width: 1em;
}
td.title {
  text-align: left;
}
td.year {
  width: 5em;
}
td.imdb {
  width: 9em;
}
